include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include frappe_pwa *.css
recursive-include frappe_pwa *.csv
recursive-include frappe_pwa *.html
recursive-include frappe_pwa *.ico
recursive-include frappe_pwa *.js
recursive-include frappe_pwa *.json
recursive-include frappe_pwa *.md
recursive-include frappe_pwa *.png
recursive-include frappe_pwa *.py
recursive-include frappe_pwa *.svg
recursive-include frappe_pwa *.txt
recursive-exclude frappe_pwa *.pyc