include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_template *.css
recursive-include erpnext_template *.csv
recursive-include erpnext_template *.html
recursive-include erpnext_template *.ico
recursive-include erpnext_template *.js
recursive-include erpnext_template *.json
recursive-include erpnext_template *.md
recursive-include erpnext_template *.png
recursive-include erpnext_template *.py
recursive-include erpnext_template *.svg
recursive-include erpnext_template *.txt
recursive-exclude erpnext_template *.pyc